
<mat-form-field class="input-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [(ngModel)]="contentdata.Name">
</mat-form-field>

<br>

<mat-form-field appearance="fill">
    <mat-label>Culture</mat-label>
    <mat-select [(ngModel)]="contentdata.Culture" name="culture">
      <mat-option *ngFor="let culture of cultures" [value]="culture.value">
        {{culture.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Content Type</mat-label>
    <mat-select [(ngModel)]="contentdata.ContentType" name="contentType">
      <mat-option *ngFor="let contentType of contentTypes" [value]="contentType.value">
        {{contentType.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>

<ckeditor [editor]="Editor" (ready)="onReady($event)" 
  [config]="{ toolbar: [ 'heading', '|',
        'fontfamily', 'fontsize', '|',
        'alignment', '|',
        'fontColor', 'fontBackgroundColor', '|',
        'bold', 'italic', 'strikethrough', 'underline', '|',
        'link', '|',
        'outdent', 'indent', '|',
        'bulletedList', 'numberedList', '|',
        'insertTable', '|', 'imageUpload', 'imageStyle:full','imageStyle:alignLeft', 'imageStyle:alignRight' ,'|',
        'undo', 'redo' ] }" 
  (blur)="ckEditorFocusOut($event)" [(ngModel)]="contentdata.Content" >
</ckeditor>

<button mat-flat-button color="primary" (click)="onTextTranslate()">Text translate</button>
<button mat-flat-button color="primary" (click)="onSaveEditorData()">Save</button>